<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4" id="app">
            <div class="row">
                <b-nav>
                    <b-nav-item href="/">Characters</b-nav-item>
                    <b-nav-item href="/movies">Movies</b-nav-item>
                </b-nav>
            </div>
            {% block body %}{% endblock %}
        </main>
    </div>
</div>
<script>
    window.vue_mixins = [];
</script>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
