{% extends 'base.html.twig' %}

{% block title %}Star Wars - Characters{% endblock %}
{% block body %}
    <div class="col-10">
        <h1>Star Wars Characters</h1>
        <h2 v-show="edit != null">{{ '{{form.name}}'|raw }}</h2>
        <b-form v-show="edit != null" @submit.prevent="submit" @reset.prevent="reset">
            <b-form-group id="input-group-2" label="Name:" label-for="input-2">
                <b-form-input
                        id="input-2"
                        v-model="form.name"
                        placeholder="Enter name"
                        required
                ></b-form-input>
            </b-form-group>

            <b-form-group id="input-group-3" label="Gender:" label-for="input-3">
                <b-form-select
                        id="input-3"
                        v-model="form.gender"
                        :options="genders"
                        required
                ></b-form-select>
            </b-form-group>

            <b-form-group id="input-group-4" label="Height:" label-for="input-4">
                <b-form-input
                        id="input-4"
                        v-model="form.height"
                        placeholder="Enter height"
                        type="number"
                        required
                ></b-form-input>
            </b-form-group>
            <b-form-group id="input-group-5" label="Mass:" label-for="input-5">
                <b-form-input
                        id="input-5"
                        v-model="form.mass"
                        placeholder="Enter mass"
                        type="number"
                        required
                ></b-form-input>
            </b-form-group>
            <b-form-group>
                <b-form-file
                        v-model="file"
                        placeholder="Choose a file or drop it here..."
                        drop-placeholder="Drop file here..."
                        @input="getBase64()"
                ></b-form-file>
                <b-button @click="deleteImage()" variant="danger">Delete</b-button>
                <div class="mt-3">
                    <img v-if="file" :src="image" />
                    <img v-if="!file && form.picture" :src="form.picture" />
                </div>
            </b-form-group>


            <b-button type="submit" variant="primary">Submit</b-button>
            <b-button type="reset" variant="danger">Reset</b-button>
        </b-form>
        <b-form @submit.prevent="search" v-show="edit == null" inline class="mb-2">
            <b-form-input
                    v-on:keydown.enter.prevent="search"
                    v-model="name"
                    placeholder="Enter character name"
                    class="mb-2 mr-sm-2 mb-sm-0"
            >
            </b-form-input>
            <b-button variant="primary" type="submit">Search</b-button>
        </b-form>
        <b-list-group v-show="edit == null" class="mb-5">
            <b-list-group-item
                    class="d-flex align-items-center"
                    v-for="(character, key) in characters"
                    :key="key"
            >
                <b-avatar class="mr-3" :src="character.picture"></b-avatar>
                <span class="mr-auto">{{ '{{character.name}}'|raw }}</span>
                <b-button @click="editForm(key)">
                    Edit
                </b-button>
                <b-button @click="deleteCharacter(character.id)" variant="danger">
                    X
                </b-button>
            </b-list-group-item>
        </b-list-group>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    <script>
        const route = "{{ path('app_character_index')|escape('js') }}";
        window.vue_mixins.push({
            data: function () {
                return {
                    characters: [],
                    form: {
                        id: null,
                        name: '',
                        gender: '',
                        height: null,
                        mass: null,
                        picture: null
                    },
                    file: null,
                    image: null,
                    name: null,
                    edit: null,
                    genders: [{ text: 'Select One', value: null }, 'male', 'female', 'n/a', 'hermaphrodite','none'],
                }
            },
            methods: {
                getCharacters() {
                    axios(route).then(
                        (data) => {
                            this.characters = data.data;
                        }
                    )
                },
                search() {
                    const newRoute = this.name && this.name !== '' ? `${route}?name=${this.name}` : route;
                    axios(newRoute).then(
                        (data) => {
                            this.characters = data.data;
                        }
                    )
                },
                getBase64() {
                    if (!this.file) {
                        return;
                    }
                    const file = this.file;
                    const reader = new FileReader();

                    reader.onload = (e) => {
                        this.image = e.target.result;
                    }

                    reader.readAsDataURL(file);
                },
                editForm(index) {
                    console.log(index);
                    this.edit = index;
                    this.form = Object.assign({}, this.characters[index]);
                    delete this.form.movies;
                },
                reset() {
                    this.form = {
                        id: null,
                        name: '',
                        gender: '',
                        height: null,
                        mass: null,
                        picture: null
                    }
                    this.edit = null;
                },
                deleteImage() {
                    this.image = null;
                    this.file = null;
                    this.form.picture = null;
                },
                submit() {
                    if (this.image) {
                        this.form.picture = this.image;
                    }
                    const newRoute = `${route}/${this.form.id}`;
                    delete this.form.id;
                    axios.post(newRoute, this.form)
                        .then(() => {
                            this.reset();
                            this.search();
                        });
                },
                deleteCharacter(id) {
                    console.log(id);
                    const newRoute = `${route}/${id}`;
                    axios.delete(newRoute)
                        .then(() => {
                            this.reset();
                            this.search();
                        });
                }
            },
            mounted() {
                this.getCharacters();
            }
        });
    </script>
    {{ parent() }}

{% endblock %}
