{% extends 'base.html.twig' %}

{% block title %}Star Wars - Movies{% endblock %}
{% block body %}
    <div class="col-10">
        <h1>Star Wars Characters</h1>
        <b-form @submit.prevent="search" inline class="mb-2">
            <b-form-input
                    v-on:keydown.enter.prevent="search"
                    v-model="name"
                    placeholder="Enter character name"
                    class="mb-2 mr-sm-2 mb-sm-0"
            >
            </b-form-input>
            <b-button variant="primary" type="submit">Search</b-button>
        </b-form>
        <b-list-group>
            <b-list-group-item
                    class="d-flex align-items-center"
                    v-for="(movie, key) in movies"
                    :key="key"
            >
                <span class="mr-auto">{{ '{{movie.name}}'|raw }}</span>
            </b-list-group-item>
        </b-list-group>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    <script>
        const route = "{{ path('app_movies_index')|escape('js') }}";
        window.vue_mixins.push({
            data: function () {
                return {
                    movies: [],
                    name: ''
                }
            },
            methods: {
                getCharacters() {
                    axios(route).then(
                        (data) => {
                            this.movies = data.data;
                        }
                    )
                },
                search() {
                    const newRoute = this.name && this.name !== '' ? `${route}?name=${this.name}` : route;
                    axios(newRoute).then(
                        (data) => {
                            this.movies = data.data;
                        }
                    )
                }
            },
            mounted() {
                this.getCharacters();
            }
        });
    </script>
    {{ parent() }}

{% endblock %}
